.name{
    position: absolute;
    top: 30%;
    left: 25%;
    transform: translate(-50%, -50%);
    font-size: 300%;
    font-weight: 600;
    color: #fff;
    height: 10%;
    width: 40%;
    text-align: left;
  }
  .name p{
    position: absolute;
    margin-top: 10%;
    font-size: 50%;
    font-weight: 350;
  }
*, *:before, *:after {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 300;
  color: #333;
  font-family: "Nunito Sans", sans-serif;
}

.content {
  display: flex;
  margin-top: 10vh;
  height: 90vh;
  background: #000000f6;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.description {
  width: 100%;
  margin-top: 0;
  margin-left: 1rem;
  margin-bottom: 3rem;
}

.card {
  color: inherit;
  cursor: pointer;
  width: calc(33% - 8rem);
  height: calc(50% - 2rem);
  perspective: 1000px;
  margin: 1rem;
  position: relative;
}
@media screen and (max-width: 800px) {
  .card {
    width: calc(50% - 2rem);
  }
}
@media screen and (max-width: 500px) {
  .card {
    width: 100%;
  }
}

.front,
.back {
  display: flex;
  border-radius: 6px;
  background-position: center;
  background-size: cover;
  text-align: top;
  justify-content: center;
  align-items: baseline;
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: ease-in-out 600ms;
}

.front {
  background-size: cover;
  padding: 2rem;
  align-items: center;
  font-size: 1.618rem;
  font-weight: 600;
  color: #ffffff;
  overflow: hidden;
  font-family: Poppins, sans-serif;
}
.front:before {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(135deg, #01ffff, #1a57e6);
  opacity: 0.25;
  z-index: -1;
}
.card:hover .front {
  transform: rotateY(180deg);
}
.card:nth-child(even):hover .front {
  transform: rotateY(-180deg);
}

.back {
  background: #ecf0f9;
  transform: rotateY(-180deg);
  padding: 15px 2em; /* Add top margin */
  box-sizing: border-box; /* Ensure padding is included in the element's width and height */
}
.back .button {
  background: linear-gradient(135deg, #1a9be6, #1a57e6);
}
.back .button:before {
  box-shadow: 0 0 10px 10px rgba(26, 87, 230, 0.25);
  background-color: rgba(26, 87, 230, 0.25);
}
.card:hover .back {
  transform: rotateY(0deg);
}
.card:nth-child(even) .back {
  transform: rotateY(180deg);
}
/* .card:nth-child(even) .back .button {
  background: linear-gradient(135deg, #e61a80, #e61a3c);
}
.card:nth-child(even) .back .button:before {
  box-shadow: 0 0 10px 10px rgba(230, 26, 60, 0.25);
  background-color: rgba(230, 26, 60, 0.25);
} */
.card:nth-child(even):hover .back {
  transform: rotateY(0deg);
}

.button {
  position: fixed; /* Make the button fixed */
  bottom: 15px; /* Set bottom margin */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%) translateZ(40px); /* Adjust transform to keep it centered */
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  font-weight: bold;
  color: #fff;
  padding: 0.5em 1em;
  border-radius: 100px;
  font: inherit;
  border: none;
  transform-style: preserve-3d;
  transition: 300ms ease;
}

.button:before {
  transition: 300ms ease;
  display: block;
  content: "";
  transform: translateZ(-40px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  border-radius: 100px;
  left: 10px;
  top: 16px;
}

.button:hover {
  transform: translateX(-50%) translateZ(55px); /* Adjust transform on hover */
}

.button:hover:before {
  transform: translateZ(-55px);
}

.button:active {
  transform: translateX(-50%) translateZ(20px); /* Adjust transform on active */
}

.button:active:before {
  transform: translateZ(-20px);
  top: 12px;
}
