
.bar1{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 7px;
    font-family: sans-serif;
    font-weight: 700;
    display: inline-block;
    color:white;
    width:40px;
    margin-left:6px;
    background-color:#5bc9b1;
}
.bar1-sorted{
    background-color:#57a846;
}
.bar1-swap{
    background-color:#b979ec;
}
.bar1-min{
    background-color: red;
}

.bars1 {
    background-color: #000000f6;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 80vh; 
    width: 100.14vw; 
    position: relative; 
    padding-bottom: 75px;
    z-index: 2;
}
.tc,th,td{
  
    /* borderCollapse 'collapse',
    width: '30%',
    textAlign:'center',
    border: '2px solid white' // Adding a border to the table */
    border-collapse: collapse;
    width: 30%;
    text-align: center;
    border: 2px solid white;
  
}
.bars1 .bar1 {
    width: 40px;
    margin: 0 5px; 
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  
  .bars1 .bar1 .bar1-number {
    position: absolute;
    bottom: -50px;  
    text-align: center;
    font-weight: bold;
  }
  
  .bars1 .bar1 .bar1-height {
    height: 100px; 
    transform: rotate(180deg);
  }
  .theory-section {
    background-color: #000000f6; /* You can set any background color */
    padding: 20px;
    width: 100%; /* Ensures it spans the full width */
    box-sizing: border-box; /* To include padding in the element's width/height */
    position: relative;
    top: 0px; /* Adjusts the gap between the bars and the section */
    z-index: 1;
    /* text-align: center; */
    font-family: sans-serif;
    color: #ffffff;
}

.bar1 {
    background-color: #5bc9b1; /* Default color */
    transition: height 0.3s ease, background-color 0.3s ease;
  }
  
  .bar1.comparing {
    background-color: #b979ec; /* Color for comparing bars */
  }
  
  .bar1.found {
    background-color: #57a846; /* Color for the found bar */
  }