nav{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0px;
    height: 85px;
    width: 100%;
    background: linear-gradient(135deg, #054d4d, #02142b);
    opacity: 1;
    padding: 20px 80px;
    z-index: 100;
}
#sankalp{
    display: flex;
    align-items: center;
    justify-content: center;
}
#sankalp li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#sankalp li a{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: #fff;
    transition: 0.3s ease-in-out;
}
#sankalp li a:hover,
#sankalp li a.active{
    color: #17cf97;
}
#sankalp li a:hover::after,
#sankalp li a.active::after{
    content: "";
    width: 60%;
    height: 2px;
    background: #17cf97;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
#mobile{
    display: none;
}
#mobile i{
    color: #fff;
    align-items: center;
}

#name{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
/* @media screen and (max-width:769px){
    #sankalp{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 85px;
        right: -300px;
        width: 300px;
        height: 100vh;
        background: #2a3239;
        box-shadow: 0 40px 60px rgba(0,0,0,0.1);
        padding: 40px 0 0 10px;
        transition: 0.3s ease-in-out;
        z-index: 100;
    }
    #sankalp.active{
        right: 0px;
    }
    #sankalp li{
        margin-bottom: 25px;
    }
    #mobile{
        display: block;
    }
    #mobile i{
        font-size: 24px;
        cursor: pointer;
    }
    .title{
        left: -20%;
    }
} */